* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 전체 화면을 차지하도록 설정 */
}

.chatting-container {
    display: flex;
    flex-grow: 1;
}

.chatting-log {
    width: 20%;
    background-color: rgba(217, 217, 217, 0.5);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 부모 요소의 높이를 모두 사용 */
}

.log {
    margin-top: 10px;
}

.chatting-screen {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 부모 요소의 높이를 모두 사용 */
}

.chatwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.chat{
    padding-top: 30px;
}

.keywordcontainer {
    padding: 10px;
}

.inputcontainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    /* Ensure it's above other content */
}

.inputcontainer img {
    width: 24px;
    margin-right: 8px;
}

.inputcontainer input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 0;
}

.inputcontainer button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

/* Add styles for LeftBubble component and other components as needed */