.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}
.home-title {
  font-family: 'SeoulHangang CL', sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.home-image {
  width: 300px;
  height: auto;
  margin-bottom: 2rem;
}

.home-chat-input {
  background-color: rgba(246, 210, 175, 0.4); /* 배경색과 동일하게 설정 */
  border: 1px solid #b9b9b9;
  border-radius: 70px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  /* flex-grow: 2; 입력창이 가능한 최대 너비를 차지하도록 설정 */
  width: 300px; /* 고정된 너비 설정 */

}

.home-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(228, 195, 162, 0.4);
  border: 1px solid #b9b9b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  width: 490px; /* 부모 요소의 너비에 맞추기 */
}

.home-chat-message {
  font-family: 'SeoulHangang CL', sans-serif;
  font-size: 1rem;
  color: #867060;
  margin-right: 1rem;
}

.home-chat-button {
  font-family: 'SeoulHangang CL', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: rgba(134, 112, 96, 0.76);
  border-radius: 70px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.home-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

.home-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.home-option-icon {
  width: 100px;
  height: 48px;
  background-color: rgba(255, 196, 19, 0.5);
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* 테두리 제거 */
}
.home-option-icon:hover{
  background-color: rgba(220, 170, 17, 0.5);
}
.home-option-text {
  font-family: 'SeoulHangang CL', sans-serif;
  font-size: 1rem;
  color: #867060;
  text-align: center;
  margin-top: 0.5rem;
}