
.CreditScreen-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.item-container {
    display: flex;
    flex-direction: column;
    margin-top: "50px";
    
}


.chart-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.chart-section {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-title {
    margin-bottom: 15px;
    font-size: 23px;
}

.chart-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-credits {
    margin-top: 10px;
    font-size: 18px;
    color: #777;
}

.custom-menu .ant-menu-item-selected {
    background-color: rgba(228, 133, 15, 0.7);
    color: white;
}

.curriculum-wrap{
    display: flex;
    flex-direction: column;
    min-height: 800px;
}

