.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-title {
  font-family: 'SeoulHangang CL', sans-serif;
  font-size: 4rem;
  margin-bottom: -0.5rem;
  color: #867060;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.login-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #f4e7da;
  border-radius: 10px;
}
.login-button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #f4e7da;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.login-button-kakao {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #fee500;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #f3d8be;
}
.login-button-kakao:hover {
  background-color: #ecdb42;
}

.login-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.login-option {
  font-family: 'SeoulHangang', sans-serif;
  font-size: 1rem;
  color: #b9b9b9;
  cursor: pointer;
}

.login-option:hover {
  color: #757575;
}